In [62]:
# pip install pandas-profiling

In [22]:
import pandas as pd
import numpy as np

from pandas_profiling import ProfileReport

<ipython-input-22-07877d6f1922>:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [10]:
filename = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

df = pd.read_csv(filename, header=None, skipinitialspace=True, na_values="?")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   worlclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   matital.status  32561 non-null  object
 6   ocuupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capaital.gain   32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [18]:
df.isnull().sum()

age                  0
worlclass         1836
fnlwgt               0
education            0
education.num        0
matital.status       0
ocuupation        1843
relationship         0
race                 0
sex                  0
capaital.gain        0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [14]:
df.head()
df.iloc[:2]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [16]:
column_name = ["age","worlclass","fnlwgt","education","education.num","matital.status","ocuupation","relationship","race","sex","capaital.gain","capital.loss","hours.per.week","native.country","income"]

df.columns = column_name
df.iloc[25:28]

# 欠損値を確認

,age,worlclass,fnlwgt,education,education.num,matital.status,ocuupation,relationship,race,sex,capaital.gain,capital.loss,hours.per.week,native.country,income
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K

In [23]:
df = df.drop(columns= ["fnlwgt","relationship","race","capaital.gain","capital.loss","native.country"])
df.columns

Index(['age', 'worlclass', 'education', 'education.num', 'matital.status',
       'ocuupation', 'sex', 'hours.per.week', 'income'],
      dtype='object')

In [24]:
print("サイズ")
print(df.shape)

print("最初の五行を表示")
print(df.head())

print('最後の5行を表示')
print(df.tail())

print('データフレームの要約を変換')
print(df.info())

サイズ
(32561, 9)
最初の五行を表示
   age         worlclass  education  education.num      matital.status  \
0   39         State-gov  Bachelors             13       Never-married
1   50  Self-emp-not-inc  Bachelors             13  Married-civ-spouse
2   38           Private    HS-grad              9            Divorced
3   53           Private       11th              7  Married-civ-spouse
4   28           Private  Bachelors             13  Married-civ-spouse

          ocuupation     sex  hours.per.week income
0       Adm-clerical    Male              40  <=50K
1    Exec-managerial    Male              13  <=50K
2  Handlers-cleaners    Male              40  <=50K
3  Handlers-cleaners    Male              40  <=50K
4     Prof-specialty  Female              40  <=50K
最後の5行を表示
       age     worlclass   education  education.num      matital.status  \
32556   27       Private  Assoc-acdm             12  Married-civ-spouse
32557   40       Private     HS-grad              9  Married-civ-spouse
32558   58       Private     HS-grad              9             Widowed
32559   22       Private     HS-grad              9       Never-married
32560   52  Self-emp-inc     HS-grad              9  Married-civ-spouse

              ocuupation     sex  hours.per.week income
32556       Tech-support  Female              38  <=50K
32557  Machine-op-inspct    Male              40   >50K
32558       Adm-clerical  Female              40  <=50K
32559       Adm-clerical    Male              20  <=50K
32560    Exec-managerial  Female              40   >50K
データフレームの要約を変換
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   worlclass       30725 non-null  object
 2   education       32561 non-null  object
 3   education.num   32561 non-null  int64
 4   matital.status  32561 non-null  object
 5   ocuupation      30718 non-null  object
 6   sex             32561 non-null  object
 7   hours.per.week  32561 non-null  int64
 8   income          32561 non-null  object
dtypes: int64(3), object(6)
memory usage: 2.2+ MB
None

In [25]:
print(df['age'].describe())

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [30]:
print(df["education"].describe())

count       32561
unique         16
top       HS-grad
freq        10501
Name: education, dtype: object

In [32]:
print(df['education'].value_counts())

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [34]:
df2 = df.sort_values(by='age')
print(df2.head())

       age  worlclass education  education.num matital.status     ocuupation  \
12318   17    Private      11th              7  Never-married          Sales
6312    17    Private      11th              7  Never-married          Sales
30927   17    Private      11th              7  Never-married  Other-service
12787   17  Local-gov      11th              7  Never-married   Adm-clerical
25755   17        NaN      11th              7  Never-married            NaN

          sex  hours.per.week income
12318  Female               8  <=50K
6312     Male              15  <=50K
30927    Male              17  <=50K
12787  Female              15  <=50K
25755    Male              10  <=50K

In [ ]:
print('一つでもNaNがあればTrueを返すAnyメソッド')
print(df.isna().any(axis=0))

print('欠損値を合計を表示')
print(df.isna().sum(axis=0))

In [35]:
# 欠損値の削除
df_new = df.dropna()
df_new.isna().sum(axis=0)

age               0
worlclass         0
education         0
education.num     0
matital.status    0
ocuupation        0
sex               0
hours.per.week    0
income            0
dtype: int64

### グループ化

In [36]:
print('性別でグループ化')
grouped_by_sex = df.groupby('sex')


print('グループ内で平均を求める（数値データのみ計算される）')
print(grouped_by_sex.mean())

性別でグループ化
グループ内で平均を求める（数値データのみ計算される）
              age  education.num  hours.per.week
sex
Female  36.858230      10.035744       36.410361
Male    39.433547      10.102891       42.428086

<ipython-input-36-40444fe08d9d>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grouped_by_sex.mean())

### 複数のデータフレームwオブジェクトを連結(concat)

In [38]:
# 辞書を使って、カラムラベルを指定したDataFrameオブジェクトを生成
df1 = pd.DataFrame({
    "a":["a0","a1","a2"],
    "b":["b1","b2","b3"],
    "c":["c1","c2","c3"]
})

df2 = pd.DataFrame({
    "a":["a3","a4","a5"],
    "b":["b3","b4","b5"],
    "c":["c3","c4","c5"]
})

print(df1)
print(df2)

    a   b   c
0  a0  b1  c1
1  a1  b2  c2
2  a2  b3  c3
    a   b   c
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5

In [39]:
# 列方向にデータフレームを連結
out_0 = pd.concat([df1,df2],axis=0)
print(out_0)


# インデックスラベルを付け直す
out_0 = pd.concat([df1,df2],axis=0,ignore_index= True)
print(out_0)

    a   b   c
0  a0  b1  c1
1  a1  b2  c2
2  a2  b3  c3
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5
    a   b   c
0  a0  b1  c1
1  a1  b2  c2
2  a2  b3  c3
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

In [40]:
# 行方向に連結
out_1 = pd.concat([df1,df2],axis= 1)

out_1

    a   b   c   a   b   c
0  a0  b1  c1  a3  b3  c3
1  a1  b2  c2  a4  b4  c4
2  a2  b3  c3  a5  b5  c5

In [44]:
# カラムラベルと連結の関係
# カラムラベルが一致しないと？
df3 = pd.DataFrame({
    "a":["a3","a4","a5"],
    "b":["b3","b4","b5"],
    "d":["c3","c4","c5"]
})

print(df3)
out_tmp = pd.concat([df1,df3],axis=0)
print(out_tmp)

    a   b   d
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5
    a   b    c    d
0  a0  b1   c1  NaN
1  a1  b2   c2  NaN
2  a2  b3   c3  NaN
0  a3  b3  NaN   c3
1  a4  b4  NaN   c4
2  a5  b5  NaN   c5

In [45]:
# 内部結合と外部結合
inner = pd.concat([df1,df1],axis=0,join='inner')
print(inner)

outer = pd.concat([df1,df3],axis=0,join='outer')
print(outer)

    a   b   c
0  a0  b1  c1
1  a1  b2  c2
2  a2  b3  c3
0  a0  b1  c1
1  a1  b2  c2
2  a2  b3  c3
    a   b    c    d
0  a0  b1   c1  NaN
1  a1  b2   c2  NaN
2  a2  b3   c3  NaN
0  a3  b3  NaN   c3
1  a4  b4  NaN   c4
2  a5  b5  NaN   c5

In [60]:
# まーじ：複数sのデータに含まれている特定のカラムをもとに一つにまとめる操作（）merge
leftdf = pd.DataFrame({
    "a":["a0","a1","a2"],
    "b":["b1","b2","b3"],
    "key":["k0","k1","k2"]
})

rightdf= pd.DataFrame({
    "c":["c0","c1","c2"],
    "d":["d0","d1","d2"],
    "key":["k0","k1","k2"]

})
testdf= pd.DataFrame({
    "c":["c0","c1","c2"],
    "d":["d0","d1","d2"],
    "key":["k1","k2","k0"]

})

df_merge = pd.merge(leftdf,rightdf, on='key')
print(df_merge)
df_merge2 = pd.merge(leftdf,testdf, on='key')
print(df_merge2)

    a   b key   c   d
0  a0  b1  k0  c0  d0
1  a1  b2  k1  c1  d1
2  a2  b3  k2  c2  d2
    a   b key   c   d
0  a0  b1  k0  c2  d2
1  a1  b2  k1  c0  d0
2  a2  b3  k2  c1  d1

In [51]:
height_list = [185, 162, 171, 155, 191, 166]
label_1 = ['A','B','C','D','E','F']
weight_list = [72, 51, 69, 55, 87, 78]
label_2 = ['A', 'B', 'C','D','G','H']

height_df = pd.DataFrame(pd.Series(height_list, index=label_1))
weight_df = pd.DataFrame(pd.Series(weight_list, index= label_2))
df1 = pd.merge (height_df, weight_df, left_index=True, right_index=True, how='outer')
print (df1)
df2 = pd.merge (height_df, weight_df, left_index=True, right_index=True, how='inner')
print (df2)

     0_x   0_y
A  185.0  72.0
B  162.0  51.0
C  171.0  69.0
D  155.0  55.0
E  191.0   NaN
F  166.0   NaN
G    NaN  87.0
H    NaN  78.0
   0_x  0_y
A  185   72
B  162   51
C  171   69
D  155   55

### 時間情報を扱う

In [52]:
import datetime
import pandas as pd

In [55]:

 dt = datetime.datetime(year = 2021,month = 7, day = 1, hour= 11, minute=0,second= 10)
 print(dt)

# 現在を取得
dt = datetime.datetime.today()
print(dt)


print(dt.day)

2021-07-01 11:00:10
2023-04-18 05:32:25.257248
18

In [57]:
# timedelta

delta = datetime.datetime.today() - datetime.datetime(year= 2021,month = 1,day= 1 ,hour = 0 , minute= 0 ,second = 0)
print(delta)

837 days, 5:34:12.827543

In [58]:

#timestamep
ts = pd.Timestamp(datetime.datetime.today())
print(ts)


ts = pd.Timestamp("20210701")
print(ts)

ts  = pd.Timestamp('2021/7/1 9:00')
print(ts)

2023-04-18 05:36:39.207498
2021-07-01 00:00:00
2021-07-01 09:00:00

In [61]:
didx = pd.DatetimeIndex([datetime.datetime(2021,1,1),datetime.datetime(2021,1,2),datetime.datetime(2021,1,3)])
print(didx)

didx = pd.DatetimeIndex(pd.date_range('20210101',end = '20210105',freq= "D"))
print(didx)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05'],
              dtype='datetime64[ns]', freq='D')